TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""
VALORANT_API_KEY=""

BOT_AUTHORIZATION_MODE=false

REDIS_URL="redis://localhost:6379"
SESSION_SECRET="replace-this-with-a-random-session-secret-at-least-32-characters"
SESSION_TTL_MS=86400000

DB_HOST="localhost"
DB_USER="twitchrr"
DB_PASSWORD="twitchrr"
DB_NAME="twitchrr"

PUBLIC_URL="http://localhost:3000"
PORT=3000
