<!DOCTYPE html>
<html>
	<head>
		<title>Twitch Valorant RR Bot Dashboard</title>
		<meta charset="UTF-8" />
		<link rel="icon" href="/static/icon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Space+Grotesk:wght@500;700&display=swap" />
		<link rel="stylesheet" href="/static/dashboard.css" />
	</head>
	<body>
		<div class="header">
			<img class="logo" src="/static/icon.png" alt="icon" />
			<p class="title">Twitch Valorant RR Bot Dashboard</p>
		</div>
