<div class="menu">
	<div class="pages">
		<a class="page" href="/dashboard/settings">Settings</a>
		<a class="page" href="/dashboard/streams">Streams</a>
		<a class="page" href="/dashboard/matches">Matches</a>
	</div>
	<div class="account">
		<p class="username"><%= channel.name %></p>
		<a href="/dashboard/logout">Log out</a>
	</div>
</div>